.Titulo {
  background: rgb(158, 165, 158);
}
.Tabla{
  font-family: arial, sans-serif;
    /* padding: 8px; */
      width: 98% !important;
}
tr{
    table-layout: fixed;
}
tbody{
  overflow-y: scroll;      
  height: 200px;           
}
td, th {
  text-align: left;
  padding: 8px;
}

#Direccion{
  height:80px !important;
}
.inputs{
  display: -moz-inline-grid;

}
input:focus:required:invalid{
border-color: #d62323;
  background-color:white;
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(252, 42, 6, 0.6);
     
 }

input:required:valid{
  background-color:#DDDDDD !important;
  
 }
 .textArea:required:valid{
  background-color:#DDDDDD !important;
   
}
.textArea:focus:invalid {
  border-color: #d62323 !important;
  background-color:white !important;
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(252, 42, 6, 0.6) !important;
  
}

.Advertencia{
  font-size: 82%;
  margin-top: 0px;
  color: red;
  margin-left: 4%;
  
  }
.th17{
  width: 17.5%
}
.th18{
  width: 18%
}
.textAreaIncorecta:focus{
  border-color: #d62323 !important;
  background-color:white !important;
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(252, 42, 6, 0.6) !important;
}